[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "twine"]
	path = twine
	url = git@github.com:elk-audio/twine.git
